<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <style>
        
    </style>
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
	<div th:replace="navbar :: navbar"></div>
	<main>
	    <h2>Produktu saraksts</h2>
	    <table>
	        <thead>
	            <tr>
	                <th>Nosaukums</th>
	                <th>Darbības</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="product : ${products}">
	                <!--<td th:text="${product.produktsID}"></td>-->
	                <td th:text="${product.nosaukums}"></td>
	                <td class="actions">
	                    <!-- Edit Product -->
	                    <a class="table-button" th:href="@{/product/edit(produktsID=${product.produktsID})}">Rediģēt</a>
	                    <!-- Delete Product -->
	                    <a class="table-button destructive" th:href="@{/product/delete(produktsID=${product.produktsID})}" 
	                    	th:attr="onclick='return confirm(\'Vai tiešām dzēst ' + ${product.nosaukums} + '?\')'">
	                    	Dzēst
	                    </a>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	    <!-- Link to create new product -->
	    <p>
	        <a class="button" th:href="@{/product/create}">Pievienot jaunu produktu</a>
	    </p>
    </main>
</body>
</html>
