<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recepte</title>

    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
	<div th:replace="navbar :: navbar"></div>

	<div>
		<h1 th:text="${recepte.nosaukums}"></h1>
	    <p><strong>Pagatavosanas laiks:</strong> <span th:text="${recepte.pagatavosanasLaiks}"></span> minutes</p>
	    <p><strong>Izveidoja:</strong> <span th:text="${recepte.lietotajvards}"></p>
	    <p><strong>Pievienots:</strong> <span th:text="${#dates.format(recepte.pievienosanasDatums, 'dd.MM.yyyy')}"></span></p>
	    
	    <h3>Produkti:</h3>
	    <ul>
		    <li th:each="produkts : ${produkti}" th:text="${produkts.nosaukums}"></li>
		</ul>
	
	
	    <h3>Apraksts:</h3>
	    <p th:text="${recepte.receptesApraksts}"></p>
    </div>
</body>
</html>
