<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recepte</title>

    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
	<div th:replace="navbar :: navbar" />
	<main>
		<div>
			<h1 th:text="${recepte.nosaukums}" />

			<div>
                <button 
					id="likeButton" 
					onclick="likeRecipe()" 
					th:disabled="${lietotajvardsSkatitajs == recepte.lietotajvards}"
					th:title="${lietotajvardsSkatitajs == recepte.lietotajvards ? 'Diemžēl nevari atzīmēt savu recepti ar Patīk' : ''}"
				>
					<span th:text="${receptePatik.lietotajamPatikRecepte ? 'Patīk' : 'Patikt'}" />
				</button>
				<p id="likeMessage" />
            </div>

			<p>
				<strong>Patīk</strong> <span id="patikSkaitsSpan" th:text="${receptePatik.patikSkaits}" /> lietotājiem.
				<span th:if="${lietotajvardsSkatitajs == recepte.lietotajvards}">
			        (Diemžēl nevari atzīmēt savu recepti ar "Patīk")
			    </span>
			</p>		    
			<p><strong>Pagatavosanas laiks:</strong> <span th:text="${recepte.pagatavosanasLaiks}" /> minutes</p>
		    <p><strong>Izveidoja:</strong> <span th:text="${recepte.lietotajvards}" />
		    <p><strong>Pievienots:</strong> <span th:text="${#dates.format(recepte.pievienosanasDatums, 'dd.MM.yyyy')}"/> </p>
		    <p><strong>Ēdiena kategorija:</strong> <span th:text="${kategorija.nosaukums}" /> </p>
		    
		    <h3>Produkti:</h3>
		    <ul>
			    <li th:each="produkts : ${produkti}" th:text="${produkts.nosaukums}" />
			</ul>
		
		    <h3>Apraksts:</h3>
		    <p th:text="${recepte.receptesApraksts}" />
	    </div>
    </main>


	<script>
        function likeRecipe() {
            let recepteID = [[${recepte.recepteID}]];
			let likeButton = document.getElementById('likeButton');
            let likeMessage = document.getElementById('likeMessage');
			let patikSkaitsSpan = document.getElementById('patikSkaitsSpan');

			likeButton.disabled = true;
            likeButton.innerText = 'Patīk...';
            fetch('/recipeLike/change?recepteID=' + recepteID, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
					likeButton.disabled = false;
					likeMessage.innerText = data.message;

					if(data.extraData.patik == true){
						likeButton.innerText = 'Patīk';
					} else {
						likeButton.innerText = 'Patikt';
					}

					if(data.success == true){
						patikSkaitsSpan.innerText = data.extraData.patikSkaits;
					}
                })
                .catch(error => {
					likeButton.disabled = false;
					likeMessage.innerText = "Notika kļūdu atzīmējot, ka recepte patīk. Mēģini vēlreiz!";
					likeButton.innerText = 'Patikt';
				});
        }
    </script>
</body>
</html>
